.advanced {
  .hero__text-part a {
    color: #ffffff;
    font-weight: 700;
  }
}

.advanced__simple-text {
  color: #554943;
  font-size: 1em;
  line-height: 140%;
  margin: 0;
  font-weight: 300;
  margin: 0 auto;
}