.content {
  padding: 85px 0 120px;

  @media (max-width: 1024px) {
    padding-top: 36px;
    padding-bottom: 35px;
  }

  @media (max-width: 768px) {
    padding: 35px 0 56px;
  }

  @media (max-width: 425px) {
    padding: 24px 0 40px;
  }

  .title {
    line-height: 111%;

    @media (max-width: 1024px) {
      padding-bottom: 44px;
      margin-bottom: 24px;
    }
  }


}

.content__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  //align-items: center;

  @media (max-width: 768px) {
    gap: 37px;
  }

}

.content-left {
  max-width: 640px;

  @media (max-width: 1024px) {
    max-width: 445px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.content-right {
  max-width: 528px;

  @media (max-width: 1024px) {
    max-width: 445px;
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

}

.content__subtile {
  margin: 0;
  margin-bottom: 36px;
  font-size: 1.6em;
  //line-height: 125%;
  line-height: 136%;

  @media (max-width: 1024px) {
    font-size: 1.2em;
  }

  @media (max-width: 425px) {
    font-size: 1em;
  }
}

.content__text {
  margin-top: 0;

  @media (max-width: 1024px) {
    font-size: 0.9em;
    line-height: 133%;
    margin-bottom: 25px;
  }
}

.content__lead {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 32px;
  @media (max-width: 425px) {
    margin-bottom: 24px;
  }
  p {
    font-size: 1.6em;
    line-height: 125%;
    color: #2B1B14;
    margin-top: 0;

    @media (max-width: 425px) {
      font-size: 1em;
    }
  }
}

.content__two-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 57px;
  gap: 32px;

  @media (max-width: 1000px) {
    gap: 0;
  }

  @media (max-width: 425px) {
    margin-bottom: 16px;
  }

  &--mod {
    .content__text-wrapper {
      margin-top: 23px;
    }

  }

  .full-article__title {
    max-width: 640px;
    font-size: 3.6em;
    padding: 0;

    @media (max-width: 1440px) {
      font-size: 2.8em;
      max-width: calc(50% - 16px);
    }

    @media (max-width: 1000px) {
      font-size: 2.4em;
      max-width: 100%;
    }

    @media (max-width: 425px) {
      font-size: 1.6em;
      margin-bottom: 12px;
    }
  }

  .content__text-wrapper {
    max-width: 530px;
    margin-top: 16px;

    @media (max-width: 1440px) {
      max-width: calc(50% - 16px);
    }

    @media (max-width: 1000px) {
      max-width: 100%;
    }

    p:first-child {
      margin-top: 0;
    }
  }

}

.content__title-middle {
  font-size: 1.6em;
  line-height: 125%;
  margin-bottom: 34px;
  padding: 0 !important;

  @media (max-width: 425px) {
    font-size: 1.2em;
  }
}

.content__one-col {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.content {
  ol {
    padding-left: 30px;
    margin-bottom: 32px;

    li {
      margin-bottom: 10px;
    }

    li::marker {

      color: #E67A00;
      display: inline-block;
      //margin: 0 10px 0 0;
      font-weight: 500;
      font-size: inherit;
      line-height: 140%;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 26px;
    margin-bottom: 32px;
    li {
      margin-bottom: 10px;
    }
    li::marker {
      color: #E67A00;
      display: inline-block;
      content: "—  ";
    }
  }

}

