.custom-price {
  padding: 85px 0 120px;

  @media(max-width: 768px) {
    padding-bottom: 63px;
  }

  @media(max-width: 735px) {
    overflow: hidden;
  }

  .button-text:hover,
  .button-text:focus {
    color: #F8AA2B;
  }

  .container {
    position: relative;
  }
}

.custom-price__tabs-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 32px;
  max-width: 1088px;
  width: 100%;

  @media(max-width: 768px) {
    position: initial;
    max-width: 568px;
  }

  @media(max-width: 425px) {
    flex-direction: column-reverse;
    gap: 23px;
  }
}

.custom-price__tabs-title {
  padding: 0;
  margin-bottom: 26px;

  @media(max-width: 1440px) {
    font-size: 2.8em;
  }

  @media(max-width: 768px) {
    max-width: 100%;
    font-size: 2.4em;
  }

  @media(max-width: 425px) {
    font-size: 1.8em;
    max-width: 300px;
  }

  
}

.custom-price__tabs-item {
  // flex-direction: column;
  display: none;
  width: 100%;
  max-width: 100%;

  .price-content {
    max-width: 100%;
    width: 100%;

  }

  &.active {
    display: flex;
  }
}

.custom-price__header {
  max-width: 1088px;

  .tabs__title {
    padding: 0;
  }
}

.custom-price__tabs-item--mod {
  max-width: 100%;
  width: 100%;
  flex-direction: row;

  .price-content {
    max-width: 1136px;

    @media (max-width: 1024px) {
      max-width: 848px;
    }

    @media (max-width: 768px) {
      max-width: 600px;
    }
  }

  &.active {
    @media (max-width: 425px) {
      flex-direction: column-reverse;
    }
    
}
}