.custom-price {
  padding: 85px 0 120px;

  .button-text:hover,
  .button-text:focus {
    color: #F8AA2B;
  }
}

.custom-price__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 32px;
}

.custom-price__tabs-wrapper {
  max-width: 1136px;
  width: 100%;
}

.custom-price__tabs-item {
  display: flex;
  flex-direction: column;
  display: none;

  &.red {
    background-color: tomato;
  }

  &.green {
    background-color: green;
  }

  &.active {
    display: block;
  }
}

.price-navigation {
  max-width: 158px;
}

.custom-price__header {
  max-width: 1215px;

  .tabs__title {
    padding: 0;
  }
}