.footer {
  background: #2B1B14;
  border-radius: 0 0 6px 6px;
  color: #bfbab8;
  margin: 0 32px;
  padding-top: 35px;
  padding-bottom: 40px;

  @media (max-width: 1440px) {
    margin: 0;
    border-radius: 0;
  }
}

.footer__top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 40px;
  border-bottom: 1px solid #554943;
  margin-bottom: 37px;

  @media (max-width: 1441px) {
    margin-bottom: 35px;
  }

  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 425px) {
    gap: 20px;
    padding-bottom: 25px;
    margin-bottom: 18px;
  }
}

.footer .logo {
  margin-right: auto;
  max-width: 270px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 192px;
    margin-right: initial;
  }

  @media (max-width: 425px) {
    max-width: 172px;
  }

}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 976px;
  width: 100%;
  display: flex;
  gap: 10px 32px;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    max-width: 688px;
  }

  @media (max-width: 769px) {
    max-width: 448px;
  }

  @media (max-width: 425px) {
    max-width: 100%;
    gap: 10px 24px;
  }
}

.footer__item {
  max-width: 304px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 208px;
  }

  @media (max-width: 425px) {
    max-width: calc(50% - 12px);
  }
}

.footer__link {
  font-size: 0.8em;
  color: #ffffff;
  transition: 0.3s linear;

  &:hover,
  &:focus {
    color: #F8AA2B;
  }

}

.footer__center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 20px;

  @media (max-width: 1000px) {
    justify-content: flex-start;
    gap: 24px;
    padding-bottom: 32px;
  }

  @media (max-width: 425px) {
    gap: 9px;
  }
}

.footer__address {
  max-width: 600px;
  width: 100%;
  margin: 0;
  margin-right: 40px;
  font-size: 0.8em;

  @media (max-width: 1440px) {
    margin-right: auto;
  }

  @media (max-width: 1024px) {
    max-width: 440px;
  }

  @media (max-width: 1000px) {
    max-width: 100%;
  }

  b {
    font-weight: 700;
    display: block;
    color: #ffffff;
    font-size: 0.8em;
  }
}

.footer__telephone {
  max-width: 304px;
  width: 100%;
  color: inherit;
  font-size: 0.8em;
  margin: 0;

  @media (max-width: 1024px) {
    max-width: 200px;
  }

  @media (max-width: 1000px) {
    max-width: calc(50% - 12px);
    margin-right: auto;
  }

  @media (max-width: 530px) {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tel {
    display: block;
  }
}

.footer__mail {
  max-width: 304px;
  width: 100%;
  color: inherit;
  font-size: 0.8em;
  margin: 0;

  @media (max-width: 1024px) {
    max-width: 200px;
  }
  @media (max-width: 1000px) {
    max-width: calc(50% - 12px);
    margin-right: auto;
  }

  @media (max-width: 530px) {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    max-width: max-content;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: #f8aa2b;
      transition: width 0.4s;
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }


  }


  .mail {
    display: block;
  }
}

.footer__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  @media (max-width: 425px) {
    gap: 4px;
  }
}

.footer__cop {
  max-width: 189px;
  font-size: 0.7em;
  margin: 0;

  @media (max-width: 425px) {
    max-width: 100%;
    width: 100%;
  }
}

.footer .link {
  @media (max-width: 425px) {
    max-width: 100%;
    width: 100%;
  }
}

.footer__politic-link {
  max-width: 211px;
  font-size: 0.7em;
  line-height: 77%;
  color: #F8AA2B;
  position: relative;
  text-decoration: none;
  display: inline-block;
  max-width: max-content;

  &:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: #f8aa2b;
    transition: width 0.4s;
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
  }

}

.tel {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
}

.mail {
  font-size: 1.5em;
  font-weight: 700;
  color: #F8AA2B;
}