.news {
  padding: 42px 0 120px;

  @media (max-width: 1024px) {
    padding-top: 35px;
    padding-bottom: 57px;
  }

  @media (max-width: 768px) {
    padding-bottom: 60px;
  }

  @media (max-width: 425px) {
    padding-top: 25px;
    padding-bottom: 40px;
  }

}

.news__list {
  display: flex;
  gap: 47px 32px;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 46px;
  }
}

.content__right {
  max-width: 528px;
  width: 100%;
  margin-top: -10px;

  @media (max-width: 1024px) {
    max-width: 445px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

}

.news--mod {
  .news__list {
    @media (max-width: 768px) {
      gap: 32px;
    }

    @media (max-width: 425px) {
      gap: 56px;
    }
  }
}

.news--home {

  .title {
    @media (max-width: 1440px) {
      margin-bottom: 45px;
    }

    @media (max-width: 425px) {
      margin-bottom: 25px;
      padding-bottom: 36px;
    }
  }
  .news__list {
    gap: 144px;

    @media (max-width: 1400px) {
      gap: 32px;
    }

    @media (max-width: 425px) {
      gap: 42px;
    }
  }

  .news-promo {
    max-width: 640px;

    @media (max-width: 1400px) {
      max-width: calc(50% - 16px);
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .news__aside {
    max-width: 528px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;

    @media (max-width: 1400px) {
      max-width: calc(50% - 16px);
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 425px) {
      gap: 40px;
    }

    .news-promo {
      @media (max-width: 1400px) {
        max-width: 100%;
      }
    }

  }

  .news-promo__title {
    @media (max-width: 1440px) {
      margin-bottom: 16px;
    }
  }
}
