.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item {
}

.accordion__button {
  background-color: transparent;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  padding: 23px 0;

}

.accordion__title {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 125%;
  color: #2B1B14;
}
.accordion__label {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #E67A00;
  border-radius: 6px;
  padding: 0;
  margin-right: auto;
  height: 0;
  overflow: hidden;
}

.accordion__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 0;
  border-bottom: 1px solid #DFDDDC;
  
  .button--small {
    padding: 8px 24px;

    span {
      line-height: 100%;
    }
  }
}

.accordion__content:last-child {
  border: none;
}

.accordion__content-wrapper {
  max-width: 752px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

}

.accordion__text {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 133% ;
  color: #2B1B14;
  margin: 0;
  width: 100%;
  max-width: 100%;

}

.accordion__harvest {
  width: 100%;
  max-width: 100%;
}

.accordion__price {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 100%;
  color: #2B1B14;
}

.accordion__button.active + .accordion__content {
  height: auto;
  padding: 14px 0;
}