.button-round {
  background-color: #fff;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    width: 24px;
    height: 24px;

  }
}