.button {
  text-decoration: none;
  padding: 20px 24px;
  text-transform: lowercase;
  cursor: pointer;
  position: relative;
  text-align: center;
  outline: 0;
  border: 0;
  z-index: 10;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;

  @media (max-width: 425px) {
    padding: 16px 24px;
  }

}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  border-radius: 6px;

  border-color: #F8AA2B;
  background-color: #F8AA2B;
}

.button span {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 100%;
  color: #161616;
  font-family: inherit;
  position: relative;
  z-index: 1;
  pointer-events: none;
  text-align: center;
  letter-spacing: 0.02em;
}

.button:hover {
  color: #2B1B14;
  text-decoration: none;
}

.button:hover::before {
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
  border-color: transparent;
}

//скрольте вниз
.button--scroll {
  padding: 18px 23px;

  &::before {
    border-color: #ffffff;
    background-color: #ffffff;
  }
}

//кнопка с иконкой
.button--icon {
  gap: 15px;
  justify-content: space-between;
  padding: 16px 24px;

  @media (max-width: 1600px) {
    gap: 0;
    padding: 16px;
  }

  @media (max-width: 425px) {
    padding: 12px;
  }

  span {
    @media (max-width: 1600px) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/arrow-to-right.svg);
    background-position: center;
    position: relative;
  }
}
//личный кабинет
.button--account {
  text-transform: initial;
  &::before {
    background-color: #6B3012;
    border-color: #6B3012;
  }


  @media (max-width: 425px) {
    display: none;
  }

  span {
    color: #ffffff;
  }

  &::after {
    background-image: url(../img/icons/account.svg);
    background-size: contain;
  }
}

//переключение языка
.button--lang {
  text-transform: initial;
  &::before {
    background-color: #E67A00;
    border-color: #E67A00;
  }

  &::after {
    background-image: url(../img/icons/globe.svg);
    background-size: contain;
  }

  span {
    color: #ffffff;
  }
}

//кнопка со стрелкой
.button--arrow {
  padding: 20px 19px;
  gap: 26px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @media (max-width: 425px) {
    padding: 19px 15px;
  }

  &::before {
    border-color: #ffffff;
    background-color: #ffffff;
  }

  span {
    @media (max-width: 425px) {
      display: none;
    }
  }

  .arrow {
    stroke: #F8AA2B;
    width: 18px;
    height: 10px;
    position: relative;
    z-index: 12;
    pointer-events: none;
    overflow: visible;
  }

  .arrow__tail {
    transform: translateX(0);
    transition: 0.3s;
    stroke: #F8AA2B;

  }

  &:hover {
      .arrow__tail {
        transform: translateX(-7px);
        transition: 0.3s;
      }

  }

}
//кнопки слайдера
.button--prev {
  &::before {
    border-color: #ffffff;
    background-color: #ffffff;
  }

  &.button--arrow .arrow {
    transform: rotate(180deg);
  }
}

.button--next {
  &::before {
    border-color: #ffffff;
    background-color: #ffffff;
  }

  &.button--arrow .arrow {
    transform: rotate(0);
  }

}

// кнопка меню
.button-menu {
  display: none;

  @media (max-width: 1600px) {
    position: relative;
    padding: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #F8AA2B;
  }

  &:before {
    display: none;
  }

  @media (max-width: 425px) {
    padding: 24px;
  }

  span,
  span::after,
  span::before {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
  }

  span::after,
  span::before {
    content: "";
    display: block;
    transition: 0.3s;
  }

  span::before {
    transform: translateY(-8px);
  }

  span::after {
    transform: translateY(8px);
  }

  // активное
  &.active span {
    height: 0;
  }

  &.active span:before {
    transform: rotate(-45deg);
  }

  &.active span:after {
    transform: rotate(45deg);
  }

}

.button--mod {
  &::before {
    background-color: #6B3012;
    border-color: #6B3012;
  }
  span {
    color: #ffffff;
  }

}

.button-text {
  &:after {
    display: none;
  }
}

//кнопка
.button-plus {
  position: relative;
  width: 48px;
  height: 48px;
  background: transparent;
  cursor: pointer;
  z-index: 100;
  padding: 0;
}

.button-plus:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background: #F8AA2B;
}

.button-plus:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: #F8AA2B;
}

.button-plus.clicked:before {
  width: 0;
}

//кнопка в виде текста
.button-text {
  background-color: transparent;
  border: none;
  color: #E67A00;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  line-height: 111%;
  display: inline-block;
  padding: 0;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: #E67A00;
    transition: max-width 0.4s;
  }

}

.button-text.active {
  color: #E67A00 !important;
  &:before {
    width: 100%;

  }

}


//круглая кнопка с крестиком и пульсацией
.button-round {
  background-color: #fff;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    width: 24px;
    height: 24px;

  }
}