.custom-accordion {
  //border-top: 1px solid #DFDDDC;

}

.custom-accordion__button {
  background-color: transparent;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  padding: 23px 0;
  position: relative;
  border-bottom: 1px solid #DFDDDC;
  border-top: 1px solid #DFDDDC;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    border-radius: 6px;
    background-color: transparent;

  }

  &:hover {
    border-color: transparent;

    &::before {
      left: -24px;
      top: -8px;
      bottom: -8px;
      right: -24px;
      border-color: transparent;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

}

.custom-accordion__button .button-plus {
  &:before {
    transition: 0.3s;
    transform: rotate(0);
  }
}

.custom-accordion__button.active {
  border-color: #DFDDDC;
  border-bottom: none;
  &::before {
    display: none;

  }
  .button-plus {

    &:before {
      transform: rotate(90deg);
      top: 2%;
      transition: 0.3s;;
    }
  }
}

.custom-accordion__button.active:hover {
  border-color: #DFDDDC;
}

.custom-accordion__title {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 125%;
  color: #2B1B14;

  @media(max-width: 1440px) {
    font-size: 1.2em;
  }
}

.custom-accordion__label {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #E67A00;
  border-radius: 6px;
  padding: 8px 14px;
  margin-right: auto;
}

.custom-accordion__details {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #DFDDDC;

  @media(max-width: 425px) {
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;

  }


  &:last-child {
    padding-bottom: 47px;
    border: none;
  }

  .button--small {
    margin-right: 4px;
  }
}


.custom-accordion__details-top {
  max-width: 752px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media(max-width: 768px) {
    max-width: 288px;
  }

  @media(max-width: 425px) {
    max-width: 100%;


  }
}

.custom-accordion__text {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 133%;
  color: #2B1B14;
  margin: 0;
  width: 100%;
  max-width: 100%;

  @media(max-width: 768px) {
    font-size: 1em;
  }
}

.custom-accordion__price {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 100%;
  color: #2B1B14;

  @media(max-width: 768px) {
    font-size: 1em;
  }
}

.custom-accordion__content {
  height: 0;
  overflow: hidden;
}

.active + .custom-accordion__content {
  height: auto;
}

