.custom-form {
  color: #554943;
  font-size: 1em;
  line-height: 100%;
  font-weight: 300;
  font-family: "Aeroport", sans-serif;

  .custom-form__button {
    min-width: 416px;
    margin: 0 auto;

  }

  .custom-form__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #6B3012;
  }
}

.custom-form__items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  margin-bottom: 30px;
}

.custom-form__item {
  position: relative;
  margin: 0;

  label {
    position: absolute;
    left: 26px;
    top: -8px;
    padding: 0 4px;
    color: #554943;
    background: #fff;
  }

  input,
  textarea {
    font-family: inherit;
    margin: 0;
    display: block;
    width: 100%;
    min-height: 48px;
    padding: 0 16px;
    border-radius: 6px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #DFDDDC;
    transition: border-color 0.3s ease-in-out;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  textarea {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    border: 1px solid #2B1B14;
  }

  input:active,
  textarea:active,
  input:focus-visible,
  textarea:focus-visible {
    border-color: #6B3012;
    border-width: 2px;
    outline: none;
  }
}

.custom-form__footer {
  margin-bottom: 32px;
}

.custom-form__politic {
  margin: 0;
  font-size: 0.9em;
  color: #554943;
  position: relative;
  padding-left: 40px;

  a {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1.5px;
      background-color: #f8aa2b;
      transition: width 0.4s;
    }

    &:focus,
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.custom-form__label--accept input[type=checkbox]+.custom-form__politic::before {
  content: "";
  background-image: url(../img/icons/checkbox-off.svg);
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  opacity: 0.3;
  transition: 0.3s
}

.custom-form__label--accept input[type=checkbox]:checked+.custom-form__politic::before {
  background-image: url(../img/icons/checkbox-on.svg);
  opacity: 1;
  transition: 0.3s
}

.custom-form__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.custom-form__link {
  font-size: 0.9em;
  line-height: 120%;
  color: #E67A00;
  display: flex !important;
}

.custom-form__item--group {
  display: flex;
  gap: 32px;

  .custom-form__item {
    width: 100%;
    max-width: calc(50% - 16px);
  }
}

