.home {

  .header {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
  }

  .nav__link {
    color: #ffffff;
  }

  .sticky .logo img {
    @media (min-width: 1600px) {
      max-width: 62px;
    }

  }

}