.home {

  .header {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
  }

  .nav__link {
    color: #ffffff;
  }

  .header.sticky {
    background-color: #fff;
    color: #2B1B14;
    border-bottom: 1px solid #DFDDDC;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    .nav__link {
      color: #2B1B14;
    }

    .logo {
      max-width: 153px;
    }
  }
}