.nav {
  max-width: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;

  @media (max-width: 426px) {
    margin-bottom: 52px;
  }
}

.nav__item {
  max-width: max-content;

  @media (max-width: 1600px) {
    max-width: calc(50% - 16px);
    width: 100%;
  }

  @media (max-width: 769px) {
    max-width: 100%;
  }
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8em;
  line-height: initial;
  letter-spacing: 0.02em;
  color: #2B1B14;
  padding: 14px 0;
  position: relative;
  transition: 0.3s linear;

  &:hover,
  &:focus {
    color: #F8AA2B;
  }

  @media (max-width: 1600px) {
    font-size: 1.2em;
    display: flex;
    gap: 45px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 25px;
    background: #ffffff;
    color: #2B1B14;

  }

}

.nav__link::before {
  @media (max-width: 1600px) {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/arrow-to-right.svg);
    background-position: center;
  }

}

.nav__link::after {
  @media (max-width: 1600px) {
    background-color: #eae8e7;
    width: 90%;
    height: 1px;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
  }

}

.nav__link:hover,
.nav__link:focus {
  @media (max-width: 1600px) {
    color: #2B1B14;
    border-bottom: none;
    border-radius: 6px;
    background: #F8AA2B;
  }

  &::before {
    @media (max-width: 1600px) {
      background-image: url(../img/icons/arrow-to-right--wh.svg);
    }
  }

  &::after {
    @media (max-width: 1600px) {
      display: none;
    }
  }
}

.nav__link:active,
.nav__link.select {

  @media (max-width: 1600px) {
    background: #E67A00;
    color: #ffffff !important;
    border-bottom: none;
    border-radius: 6px;
  }

  &::before {
    @media (max-width: 1600px) {
      background-image: url(../img/icons/arrow-to-right--wh.svg);
      transform: rotate(90deg);
    }
  }

  &::after {
    @media (max-width: 1600px) {
      display: none;
    }
  }
}

.nav__item:last-child {
  .nav__link::after {
    display: none;
  }
}

.nav .button--account {
  display: none;

  @media (max-width: 425px) {
    display: flex;
    font-size: 0.8em;
    line-height: 120%;
    width: 100%;
    max-width: 100%;
    padding: 20px 25px;
  }
}