.price-content {
  margin-bottom: 36px;
}

.price-content__name {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: #6B3012;
  //border-bottom: 1px solid #DFDDDC;

  @media(max-width: 1440px) {
    font-size: 1.6em;
  }

}

.price-content__group {
  margin-bottom: 33px;
}