.title {
  font-weight: 700;
  font-size: 3.6em;
  line-height: 120%;
  color: #6B3012;
  margin: 0;
  padding-bottom: 42px;
  margin-bottom: 32px;

  @media (max-width: 1024px) {
    font-size: 2.8em;
    padding-bottom: 43px;
    margin-bottom: 45px;
  }

  @media (max-width: 425px) {
    font-size: 1.6em;
    padding-bottom: 34px;
    margin-bottom: 23px;
  }
}

.title--mod {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: #F8AA2B;
    position: absolute;
    bottom: 8px;
    left: 32px;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 21px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/logo-min.svg);
  }
}

.title--simple {
  margin: 0;
  margin-bottom: 26px;
  font-size: 1.6em;
  line-height: 125%;
  color: #2B1B14;
  font-weight: 300;
  margin-top: 56px;
}

.title--clear {
  padding: 0;
}