.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 1441px) {
    max-width: 1440px;
    padding: 0 60px;
  }

  @media (max-width: 1025px) {
    max-width: 1024px;
    padding: 0 50px;
  }

  @media (max-width: 769px) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media (max-width: 426px) {
    max-width: 425px;
    padding: 0 15px;
  }

  @media (max-width: 376px) {
    max-width: 375px;
    padding: 0 12px;
  }

  @media (max-width: 320px) {
    padding: 0 10px;
  }

}