<div class="office-address content__list-item office-address--mod">
  <h3 class="office-address__name">Краснодарский край</h3>
  <p class="office-address__status news-promo__date">Регион</p>

  <p class="office-address__personal-data">Телефон: <a href="tel:88612792078">+7 (861) 279-20-78</a>, Факс <b>+7 (861)
      298-08-38</b></p>
  <p class="office-address__personal-data">E-mail: <a class="link"
      href="mailto:info@mgresources.ru">info@mgresources.ru</a></a></p>
  <p class="office-address__text">ООО "Мирогрупп Ресурсы". Краснодар, ул. Красных Партизан, д.200</p>

</div>