<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Воронежское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Самарское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Белгородское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Волгоградское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Курское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Уфимское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Липецкое»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Саратовское»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
    <p class="office-address__personal-data">Менеджер по закупкам Точилина Лариса Алексеевна <a
      href="tel:8-910-738-31-69">8-910-738-31-69</a>
    </p>
  </div>

  <p class="office-address__text">394033, г. Воронеж, ул. Старых Большевиков, д.53 А офис 312</p>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>

<div href="#" class="office-address content__list-item">
  <h3 class="office-address__name">«Сибирь»</h3>
  <p class="office-address__status news-promo__date">Обособленное подразделение</p>

  <div class="office-address__wrapper">
    <p class="office-address__personal-data">Региональный менеджер Михальчук Андрей Геннадиевич <a
      href="tel:8-910-738-30-54">8-910-738-30-54</a></p>
  </div>

  <a href="#" class="button button--arrow">
    <span>Показать на карте</span>
    <svg class="arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5L16.0002 5M16.0002 5L10.8891 9M16.0002 5L10.8891 1" stroke-width="2"></path>
      <path class="arrow__tail" d="M0 5L7 5" stroke-width="2"></path>
    </svg>

  </a>
</div>
