<div class="price-content__group" id="@@number">
  <h2 class="price-content__name">@@city</h2>
  <!-- подгруппа - элеватор -->
  <div class="price-content__elevator custom-accordion">
    <button class="custom-accordion__button">
      <span class="custom-accordion__title">НЗТ ООО</span>
      <span class="custom-accordion__label">без НДС</span>

      <span class="button-plus"></span>
    </button>
    <div class="custom-accordion__content">

      @@include('../templates/accordion-product-price.html', {
      "name": "Пшеница продовольственная 4 кл, протеин не менее 13%",
      "price": "16 400"
      })

      @@include('../templates/accordion-product-price.html', {
      "name": "Пшеница продовольственная 4 кл, протеин не менее 13%",
      "price": "16 400"
      })

      @@include('../templates/accordion-product-price.html', {
      "name": "Пшеница продовольственная 4 кл, протеин не менее 13%",
      "price": "16 400"
      })

    </div>

  </div>

</div>