//анимация пульс
@keyframes cbk-phone-waves-1 {
  0%,42.86% {
    transform: matrix(1,0,0,1,0,0);
    opacity: .66;
    animation-timing-function: ease-in-out
  }

  to {
    transform: matrix(2.39,0,0,2.39,0,0);
    opacity: 0
  }
}

@keyframes cbk-phone-waves-2 {
  0%,42.86% {
    transform: matrix(1,0,0,1,0,0);
    opacity: .66;
    animation-timing-function: ease-in-out
  }

  to {
    transform: matrix(3.17,0,0,3.17,0,0);
    opacity: 0
  }
}

@keyframes cbk-phone-waves-3 {
  0%,42.86% {
    transform: matrix(.42,0,0,.42,0,0);
    opacity: .66;
    animation-timing-function: ease-in-out
  }

  to {
    transform: matrix(2.79,0,0,2.79,0,0);
    opacity: 0
  }
}

//пульс
//первый круг
.cbk-phone-circle {
  transform-origin: center center!important;
  -moz-transform-origin: center center!important;
  -webkit-transform-origin: center center!important;
  -o-transform-origin: center center!important;
  -ms-transform-origin: center center!important;
}

.cbk-phone-circle {
  position: absolute;
  -webkit-animation: cbk-phone-waves-1 3.5s infinite;
  -moz-animation: cbk-phone-waves-1 3.5s infinite;
  -ms-animation: cbk-phone-waves-1 3.5s infinite;
  -o-animation: cbk-phone-waves-1 3.5s infinite;
  animation: cbk-phone-waves-1 3.5s infinite;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.cbk-phone-circle {
  background-color: #ffffff;
}
//второй круг
.cbk-phone-second_circle,
.cbk-phone-third_circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.cbk-phone-second_circle {
  -webkit-animation: cbk-phone-waves-2 3.5s infinite;
  -moz-animation: cbk-phone-waves-2 3.5s infinite;
  -ms-animation: cbk-phone-waves-2 3.5s infinite;
  -o-animation: cbk-phone-waves-2 3.5s infinite;
  animation: cbk-phone-waves-2 3.5s infinite;
}

.cbk-phone-third_circle {
  -webkit-animation: cbk-phone-waves-3 3.5s infinite;
  -moz-animation: cbk-phone-waves-3 3.5s infinite;
  -ms-animation: cbk-phone-waves-3 3.5s infinite;
  -o-animation: cbk-phone-waves-3 3.5s infinite;
  animation: cbk-phone-waves-3 3.5s infinite;
}

.cbk-phone-second_circle,
.cbk-phone-third_circle {
  border: 1px solid #ffffff;
}