html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Aeroport', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  min-width: 320px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #2b1b14;
  background-color: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: #f8aa2b;
}


.main {
  --header-height: 63px;
  padding-top: calc(var(--header-height) + 65px);
}

.home .main {
  padding-top: 0;
}